.carousel-caption {
    padding-bottom: 180px;
}

.carousel-caption p {
    width: 80%;
    margin: auto;
}

.course-title {
    margin-top: 120px;
}

.e-learning-bg {
    background-color: #F4FAFD;
}