.e-learning-slider-m {
    margin-top: 100px;
}

.carousel-caption {
    padding-bottom: 180px;
}

.carousel-caption p {
    width: 80%;
    margin: auto;
}

.course-title {
    margin-top: 120px;
}

.e-learning-bg {
    background-color: #F4FAFD;
}

.e-learning-feedback {
    width: 80%;
}

/* * footer part start */
footer {

    height: 400px;
}

.footer-info {
    padding-top: 35px;
}


footer .e-lerning-icon i {

    margin: 0px 12px;
    width: 30px;
    height: 30px;

}

/* footer part end */

/* Responsibe part */


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .company-section {
        display: none;
    }

    .subscribe-title {
        text-align: center;
    }

    .student-title {
        text-align: center;
    }

    .student-title p {
        width: 100% !important;
        text-align: center;
    }

    .e-learning-card-body {
        text-align: center;
    }

    .e-learning-faq {
        width: 100% !important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .carousel-caption {
        padding-bottom: 50px;
    }

    .student-title {
        text-align: start;
    }

    .student-title p {
        width: 50% !important;
        text-align: start;
    }

    .e-learning-faq {
        width: 100% !important;
    }

    .company-section {
        display: none;
    }
}

/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .subscribe-title {
        text-align: start;
    }
}
