.carousel-caption {
    padding-bottom: 180px;
}

.carousel-caption p {
    width: 80%;
    margin: auto;
}

.course-title {
    margin-top: 120px;
}

.e-learning-bg {
    background-color: #F4FAFD;
}

.e-learning-feedback {
    width: 80%;
}

/* * footer part start */
footer {

    height: 400px;
}

.footer-info {
    padding-top: 35px;
}


footer .e-lerning-icon i {

    margin: 0px 12px;
    width: 30px;
    height: 30px;

}

/* footer part end */

/* Responsibe part */
